.custom-hero {
  height: 200px !important; // Adjust to your preferred height -- originally set to 300px
  max-height: 300px !important;
  
  .hero-background {
    height: 300px !important;
    object-fit: cover !important;
  }
}